<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>TicketHound</title>

	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->

	<script src="js/angular.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
	<script src="js/app.js"></script>
	<script src="js/HoundController.js"></script>
	<script src="js/AuthenticationController.js"></script>
	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link href='http://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'>

</head>

<body ng-app='app'>

	<!-- TOP "NAV" -->
	<div class='navbar navbar-inverse navbar-static-top text-center hound'>
			
			<h1><i class='glyphicon glyphicon-music'></i> Ticket Hound.us <i class='glyphicon glyphicon-music'></i></h1>
		
	</div>
	
	<!-- BODY -->
	<div class="container" ng-controller="HoundController as controller">

 		<!-- SEARCH FORM -->
		<div class="row text-center" ng-if="!controller.searchInit">
				<form class="search-form" ng-submit="controller.results()">
		         	<span>I want to see  <input class="search-input" type="text" placeholder="Lady Gaga!" ng-model="controller.performerName"><!-- near <input class="search-input" type="text" placeholder="Los Angeles" ng-model="controller.city">... -->   <input type="submit" value="Fetch!" class="btn btn-submit btn-primary btn-hound"></span>
		    	</form>
		<!-- END SEARCH FORM -->
    	</div>

		<!-- RESULTS LIST -->
		<div class="row text-center">
			<ul class="list-unstyled" ng-repeat="result in controller.results.events track by $index">
				<li>
					<p><strong>Who:</strong> {{ result.name }} - </p>
					<p><strong>TM ID:</strong> {{ result.id }} - </p>
					<p><strong>Presales:</strong> {{ result.presales[0].label }}: 
					{{ result.presales[0].value }} - 
					{{ result.presales[1].label }}:  
					{{ result.presales[1].value }}
					{{ result.presales[2].label }}:  
					{{ result.presales[2].value }}
					{{ result.presales[3].label }}: 
					{{ result.presales[3].value }}
					<p><strong>Off Sale:</strong> {{ result.offsale.value }} </p>
				</li>
			</ul>
		<!-- END SEARCH LIST -->
		</div>	
	<!-- END BODY CONTAINER -->
	</div>
</body>
</html>