.hound {
	color: white;
	padding-top: 5px;
	background-color: deepskyblue;
	border: deepskyblue;
	/*font-family: 'League Script';*/
	font-family: helvetica-neue;
	font-size: 60px;
}

.btn-hound {
	background-color: deepskyblue;
}

.search-form {
	letter-spacing: 1px;
}